section {
	margin: 0;
}

hr{
  border-color: #fbfcfc;
  box-sizing:border-box;
	border-width: 2px;
  width:100%;  
}

.bg-main{
  background-image: linear-gradient(to right, #92f075 , #1fbf76);
}

.bg-right{
	background-color: rgba(255,255,255,.3);
}

.lista{
	font-size: 13px;
	color: #0b582c;
}
.flex {
  display: flex;
}

.space-around {
	justify-content: space-around;
}

.color {
  color: #0b582c;
}

.card-text{
	text-align: justify;
	text-indent: 8ch;
}
.span-title-a{
	font-size: 30px;
}

.span-title-b {
	font-size: 20px;
}
.card{
	border-color: #fbfcfc;
}
.card-header{
	background-color: #fbfcfc;
	border-color: #fbfcfc;
}

.overlined-a::first-line{
	text-decoration: overline solid #0b582c 5px;
}
.overlined-b::first-line{
	text-decoration: overline solid #1fbf76 5px;
}
.overlined-c::first-line{
	text-decoration: overline solid #92f075 5px;
}
.overlined-d::first-line{
	text-decoration: overline solid #180f55 5px;
}

.card-second-page{
	background-color: #ecf1f1;
}

