section {
	margin: 0;
}

hr{
  border-color: #fbfcfc;
  box-sizing:border-box;
	border-width: 2px;
  width:100%;  
}

.bg-main{
  background-image: linear-gradient(to right, #92f075 , #1fbf76);
}

.bg-right{
	background-color: rgba(255,255,255,.3);
}

.lista{
	font-size: 13px;
	color: #0b582c;
}
.flex {
  display: flex;
}

.space-around {
	justify-content: space-around;
}

.color {
  color: #0b582c;
}

.card-text{
	text-align: justify;
	text-indent: 6ch;
}
.span-title-a{
	font-size: 30px;
}

.span-title-b {
	font-size: 20px;
}

.card-header{
	background-color: #fbfcfc;
	border-color: #fbfcfc;
}

.overlined-a::first-line{
	text-decoration: overline solid #0b582c 5px;
}
.overlined-b::first-line{
	text-decoration: overline solid #1fbf76 5px;
}
.overlined-c::first-line{
	text-decoration: overline solid #92f075 5px;
}
.overlined-d::first-line{
	text-decoration: overline solid #180f55 5px;
}

.card-second-page{
	background-color: #ecf1f1;
}

.card-title-a{
	font-size: 13px;
}

.pricing-footer{
	width: 100%;
	height: 65px;
	border-radius: 22px;
}

.principal-title{
	font-size: 30px;
	color: #1fbf76;
}

.title-card-header{
	font-size: 25px;
	font-weight: bold;
	color: #fbfcfc;
	background-image: linear-gradient(to right, #1fbf76 , #92f075);
	border-radius: 35px 35px 0 0;
}

.body-card-section3{
	background-color: #fbfcfc;
	border-radius:35px;
}

.card-color{
	background-color: #eef2f2;
}

.body-color-card{
	background-color: #d6dfdf;
}

.card-border{
 border-radius: 35px;
}

.bg-back-color{
	background-color: #fbfcfc;
}

.btn-tamanho{
	font-size: 20px;
	font-weight: bold;
	width: 50%;
	background-image: linear-gradient(to right, #1fbf76 , #92f075);
	border:none!important;
}

.span-duvida{
	font-size: 22px;
	color: #1fbf76;
	font-weight: bold;
}

.span-resposta{
	color: #0b582c;
}

.border-duvida{
	border-color: #849595;
}

.icon-map{
	background-color: #ececec;
}

.icon-facebook{
	background-color:	#1877f2 ;
}

.link-bg{
	background-color: #ececec;
}

.icon-color{
	color: #fbfcfc;
}

.links{
	text-align: right;
}

.icon-youtube{
	background-color: #ff0000;
}
.icon-linkedin{
	background-color: #0077b7;
}

.icon-instagram{
	background-image: linear-gradient(to right, #a131c4 , #ef4d5c);
}

.icon-whats{
	background-color: #1bd741;
}

.icon-phone{
	background-color: #8aec75;
}

.icon-at{
	color: #cccccc;
	background-color: #333333;
}

.link-bg-b{
	background-color: #fbfcfc;
}

.final-card{
	background-color: #d8e2e2;
}

.links{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.arrow{
	color: #bfc0c0;
}

.p-footer{
	font-size: 10px;
	text-indent: 2ch;
}

.text-white{
	text-decoration: none;
	font-size: 13px;
}

.first-part{
	border-radius: 45px;
}